
button{
    width: 100%;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #FF6B82;
    color: #fff;
}
.bottom-prg-container{
    text-align: end;
}
span{
    background-color: #FF6B82;
    padding: 3px;
    color: #fff;
}
.main-header-container{
    position: relative;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    height: 80px;
}
.main-header{
    display: inline-block;
    position: absolute;
    color: #FF6B82;
    margin-top: -28px;
    background-color: #fff;
    border: solid black 1px;
    top: 20;
    left: 40vw;
}
.button-container{
    padding: 10px;
}
select{
    height: 30px;
    padding: 4px;
    font-size: 13px;
    border-width: 0px;
}
.color-list{
    list-style-type: none;
    padding: 8px;
    width: 90px;
}
.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}
.header{
    margin-left: 70px;
    margin-bottom: -20px;
    width: 38px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.end-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.parent-card{
    position: relative;
    margin-top: 18px;
}
.child-card{
    padding: 5px;
    position: absolute;
    background-color: #FF6B82;
    font-size: 15px;
    right: 0;
    top: -29px; 
    color: #fff;
    border-radius: 5px;

}
.prg{
    color: #FF6B82;
}
.size-color-container{
    margin-left: 60px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-box{
    border: solid #FF6B82 2px;
    padding: 15px;
}
.price-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.strike-price{
    text-decoration: line-through;
    color: #434242;
}
input{
    width: 20px;
    height: 20px;
}